
.btn{
    position:relative;
    height:30px;
    border-radius: 15px; 
    text-align: center;
    padding: 2rem; 
}

.btncolr{
    background-color: #E63E6D;
    display: inline-block;
    background: transparent;
    border: none;
    color: white;
    
}

.btncolr:hover {
    color: #E63E6D;
    transform: scale(1.705);
    text-decoration: underline;
}

.btn:hover {
    color: #E63E6D;
    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.printing{
    color: white;    
}

.printing:hover {
    color: #E63E6D;
  }

.display{
    width: 200px;
    border: 4px outset  #E63E6D;;
    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.display:hover {
    color: #E63E6D;
    opacity: 0.2;
    transform: scale(1.05);
  }

.wrapper{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    /* grid-template-rows: 100px 100px;
    grid-auto-rows: 100px; */
}

.displaymovies{
    text-align: center;
    padding: 2rem;
    margin:auto;
    width: 80%;
    height: 100%; 
    object-fit: contain;
}

.check-css{
    width: 15px;
    height: 15px;
}

.check-value{
    position:relative;
    
    top:1px;
    color:white;
}


@media only screen and (max-width: 600px) {
    .wrapper{
      display: flex;
      flex-wrap: nowrap;
      overflow: auto;
      padding: 1rem; 
      justify-content: left;
    }
    .displaymovies{
        text-align: center;
        padding: 0.5rem;
        margin:auto;
        width: 80%;
        height: 100%; 
        object-fit: contain;
    }
    
    .display{
        width: 176px;
        border: 4px outset  #E63E6D;;
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }
    .display img{
        width: 100%;
    }
  }